* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

header {
    margin: 40px 0 70px 40px;
}

.items-menu {
    display: flex;
    flex-direction: column;
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cyan;
    width: 20vw;
    height: 100vh;
    float: left;

}

.img-nav {
    border-radius: 50%;
    margin: 0 auto;
    width: 50%;
    margin-top: 60%;
    margin-bottom: 10px;
    border:1px solid rgba(255, 0, 0, 0.911);

}

button,
.btn-left{
    background-color: #000;
    color: cyan;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
}

a:hover {
    color: rgb(207, 188, 188);
}

.section-right {
    float: right;
    width: 70vw;
    height: 100vh;
    margin-bottom: 70px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    position: relative;

}

.text-main {
    text-align: left;
    position: absolute;
    top: 200px;
}

.par-1{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #000;
    letter-spacing: 2px;
    
}
.par-2{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: rgba(255, 0, 0, 0.911);
    letter-spacing: 2px;

}

.par-3 {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 0, 0, 0.911);
   
    
}


.par-4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
    margin-top: 40px;
}

.img-link {  
    position: absolute;  
}
.img-link1 {
    margin-top: 50px;
}

.img-link2 {
    margin-top: 50px;
    margin-left: 150px;

}
.img-link3 {
    margin-top: 50px;
    margin-left: 300px;
}